*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
}
.wrapper{
    background-color: rgb(190, 187, 187);
    width: 700px;
    height: 650px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 25px solid rgba(76, 25, 88, 0.667);
    box-shadow: 0 0 3px rgba(0,0, 0,1);
}
.wrapper h2{
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
    margin-block: 20px;
   
}

.text-name{
    width: 45%;
    padding :8px 0 8px 40px;
    border-radius: 5px;
    
}

.text-name{
    border: 1px solid rgb(197, 160, 197);
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out ;
    -ms-transition:all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.text-name:hover {
    background-color:rgb(230, 204, 230);
}
.country{
    display: inline-block;
    width: 45%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
   color: rgb(126, 121, 121);
    border: 1px solid rgb(197, 160, 197);
    border-radius: 5px;
    background: #fff;

}
.button{
    background-color: rgb(66, 42, 66);
    padding: 5px 50px;
    line-height: 35px;
    display:flex; 
    color: #f2f2f2;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
}
.input-name .button{
    float: right;
}